body {
    margin: 0;
    font-family: Roboto;
    background-color: aliceblue;
    background-size:contain;
    /* background-image: url('static/images/background4.jpg'); */
    background-repeat: round;
}  

.nav{
    width: 100%;
    background-color: black;
    height: 100px;
    position: fixed;
    top: 0px;
}

.page-list{
    max-width:900px;
    width: 100%;
    margin: auto;
    margin-top: 110px;
    height: inherit;
}

.page{
    padding: 10px 50px;
    background-color: snow;
    padding-bottom:50px;
    box-shadow: 0px 0px 50px rgb(22, 22, 23);
}

.page-break{
    height:100px;
}
.head-block h1{
    font-size: 36px;
    text-align: left;
    margin-bottom: 10px;
}

.date-block{
    opacity: 0.7;
}

.content-block{
    margin-top:50px;
    font-size: 17px;
    line-height: 30px;
    word-spacing: 5px;
}

.content-video{
    margin: 25px 10px;
    width: 100%;
    text-align: center;
}

.credits a{
    color:black;
    opacity: 0.5;;
}

.content-block #questions{
    width: 70%;
    font-family: cursive;
    margin: 25px auto;
    background: antiquewhite;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0px 0px 3px #555;   
}